body {
    background-color: lavender !important;
    font-family: "Oswald", sans-serif !important;
  }
.portfolio-p {
    text-align: center !important;
  }
  
.btn {
    background-color: #f5cbc9 !important;
    border: pink !important;
    color: rgb(66, 66, 66) !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  
.btn:hover {
    background-color: rgb(250, 143, 161) !important;
  }
.card-folio {
    background-color: rgb(255, 237, 136) !important;
  }
  
.navbar {
    background-color: #a6d6e8 !important;
  }
  
.container-folio {
    margin-bottom: 20px !important;
  }
  
.footer {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 40px !important;
    background-color: rgb(255, 237, 136) !important;
    color: black !important;
    text-align: center !important;
  }
  
.folioheader {
    font-weight: bold !important;
    text-align: center !important;
    color: #69648c !important;
  }
  
.card-body {
    text-align: center !important;
  }
  
.card-title {
    font-weight: bolder !important;
  }
  
.card-body-index {
    margin: 10px !important;
  }
  
h1 {
    font-family: "Grand Hotel", cursive !important;
    font-size: 60px !important;
    color: #69648c !important;
  }
#name {
    font-family: "Grand Hotel", cursive !important;
    font-size: 60px !important;
    color: #69648c !important;
  }
  
.fa {
    padding: 5px !important;
    font-size: 30px !important;
    width: 40px !important;
    text-decoration: none !important;
    border-radius: 40% !important;
  }
  
.fa:hover {
    opacity: 0.7 !important;
  }
  
.fa-instagram {
    background: #f5cbc9 !important;
    color: white !important;
  }
  
.fa-linkedin {
    background: #f5cbc9 !important;
    color: white !important;
  }
  
.fa-github {
    background: #f5cbc9 !important;
    color: white !important;
  }
  
.nav-link {
    font-size: 32px !important;
    float: right !important;
  }
  
.card {
    border: solid !important;
    border-color: rgb(255, 237, 136) !important;
    margin: 10px !important;
  }
  
#find-links {
    padding: 5px !important;
  }
  
.jumbotron {
    background-color: white !important;
    border: solid 5px !important;
    border-color: rgb(255, 237, 136) !important;
    margin: 10px !important;
  }
  
#profileImg {
    float: right !important;
    border-radius: 50% !important;
    border: solid 5px !important;
    border-color: #f5cbc9 !important;
    margin: 10px !important;
  }
  
#contactP {
    font-size: 20px !important;
  }
  
.list-group-item {
    font-size: 28px !important;
  }
  
.links {
    color: #a6d6e8 !important;
  }
  
#contactContent {
    text-align: center !important;
    margin: auto !important;
  }
  
#backgroundCard {
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
  }
  